
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
.Name{
    font-family: 'Rubik', sans-serif;
    font-size: smaller;

}
.Relative .Picture {
    position: relative;
    margin: 10px;
    
}
.Relativeh .Pictureh{
    position: relative;
    margin: 10px;
    top: 20px;
    
}
img{
    margin-right: 20px;
    width: 500px;
    height: 500px;
}

